[submodule "external/span-lite"]
	path = external/span-lite
	url = https://github.com/martinmoene/span-lite
[submodule "external/string-view-lite"]
	path = external/string-view-lite
	url = https://github.com/martinmoene/string-view-lite
[submodule "external/expected-lite"]
	path = external/expected-lite
	url = https://github.com/martinmoene/expected-lite
[submodule "external/libparsebgp/upstream"]
	path = external/libparsebgp/upstream
	url = https://github.com/CAIDA/libparsebgp
